{% load static %}
<!DOCTYPE html>
<html>

<head class="no-js">
    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/icon/riesgo2.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/isotope.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- skin -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
    {% block moreCSS %}
    {% endblock %}
</head>
<body>
<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container2 navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" href="{% url 'index' %}"><strong>CORPE</strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Datos Estadisticos <span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'institucion' %}">Instituciones</a></li>
                        <li><a href="{% url 'sectores' %}">Sectores</a></li>
                        <li><a href="{% url 'peligros' %}">Peligros</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'informativo' %}">Informativo</a></li>
                    </ul>
                </li>
                <li><a href="#section-contact">Contactos</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

{% block header %}
{% endblock %}
<main>
    {% block contenidoMain %}
    {% endblock %}
</main>

<footer id="footer" class="section footer">
    <div class="container">
        <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-12 align-center">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row align-center copyright">
            <div class="col-sm-12">
                <p>Copyright &copy; CORPE</p>
                <div class="credits">

                    <a href="https://bootstrapmade.com/">Create</a> by <a href="">Bustillos Jose - Dickson Armijos</a>
                </div>
            </div>
        </div>
    </div>

</footer>
<a href="#header" class="scrollup"><i class="fa fa-angle-double-up"></i></a>

{% comment %}
<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
{% endcomment %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% comment %}
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
{% endcomment %}
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>

{% comment %}
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}"></script>
{% endcomment %}
<script src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
<script src="{% static 'js/jquery.localscroll-1.2.7-min.js' %}"></script>
{% comment %}
<script src="{% static 'js/stellar.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>

{% endcomment %}
<script src="{% static 'js/main.js' %}"></script>
<!--<script src="js/skrollr.min.js"></script>-->
{% comment %}

<script src="contactform/contactform.js"></script>
{% endcomment %}

{% block moreJS %}
{% endblock %}
</body>

</html>
